@import url('https://fonts.googleapis.com/css?family=Acme|Averia+Sans+Libre&display=swap');

// Color Themes
$primaryColor: #0A0A24;
$secondaryColor: #1B1C33;
$primaryFontColor: #455A64;

// Fonts
$primaryFont: 'Acme', sans-serif;
$secondaryFont: 'Averia Sans Libre', cursive;