@import url('https://fonts.googleapis.com/css?family=Acme|Averia+Sans+Libre&display=swap');

// Color Themes
$primaryColor: #0B73B8;
$secondaryColor: #30A9DC;
$dullGrey: #ECEDEE;
$white: #FFFFFF;
$blueGrey: #455A64;

// Fonts
$primaryFont: 'Acme', sans-serif;
$secondaryFont: 'Averia Sans Libre', cursive;
